{% extends "base.html" %}

{% block title %}Invoices{% endblock %}

{% block content %}
    <h1 class="text-center">Your Invoices</h1>
    <ul class="list-group">
        {% for invoice in invoices %}
            <li class="list-group-item">
                <a href="{{ url_for('get_saved_invoice', filename=invoice.filename) }}">{{ invoice.filename }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="text-center mt-4">
        <a href="{{ url_for('invoice_form') }}" class="btn btn-primary">Generate New Invoice</a>
        <a href="{{ url_for('user_panel') }}" class="btn btn-secondary">Back to User Panel</a>
    </div>
{% endblock %}